doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block metadata

  body
    nav
      ul
        li
          a(href='/') Inicio
        li
          a(href='/login') Iniciar Sesión
        li
          a(href='/registro') Registrarse
    main
      block content