extends layout.pug

block metadata
  title Registrarse

block content
  div.flex.justify-center.items-center.min-h-screen
    div.bg-gray-800.rounded-lg.p-6.w-full.max-w-sm
      
      h1.text-white.text-center.text-xl.mb-4.font-bold Registro
      
      form.space-y-3(action="/registro" method="POST")
        div
          label.text-gray-400.block.mb-1(for="email") Email:
          input.w-full.rounded.bg-gray-700.text-gray-400.px-3.py-2(type="email" id="email" name="email")  
        
        div
          label.text-gray-400.block.mb-1(for="password") Contraseña:
          input.w-full.rounded.bg-gray-700.text-gray-400.px-3.py-2(type="password" id="password" name="password")
        
        div
          label.text-gray-400.block.mb-1(for="fecha") Fecha de nacimiento:
          input.w-full.rounded.bg-gray-700.text-gray-400.px-3.py-2(type="date" id="fecha" name="fecha")
        
        div
          label.text-gray-400.block.mb-1(for="nombre") Nombre completo:
          input.w-full.rounded.bg-gray-700.text-gray-400.px-3.py-2(type="text" id="nombre" name="nombre")
        
        div
          label.text-gray-400.block.mb-1(for="usuario") Nombre de usuario:
          input.w-full.rounded.bg-gray-700.text-gray-400.px-3.py-2(type="text" id="usuario" name="usuario")

        button.w-full.mt-3.rounded.bg-indigo-600.text-gray-200.py-2(type="submit") Registrarse
      
